* {
  font-family: Verdana;
  margin: 0;
  box-sizing: border-box;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:focus, textarea:focus, select:focus {
    outline: none;
  }
}

body {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 980px;

  &__fraction-input {
    margin-bottom: 15px;
  }
}
